---
// components
import {default as LiSN} from '../components/aside-Information/LiteralsSocialNetworks.astro';
import {default as LiInfo} from '../components/aside-Information/LiteralInfo.astro';
import Svg from '../components/Svg.astro';

// class
const classIconsSn = 'w-7 h-7 transtion-all duration-300 fill-teal-900 group-hover:scale-110 dark:fill-teal-200';
const classIconsInfo = 'w-8 h-8 stroke-teal-500 fill-transparent transition-colors duration-300 group-hover:fill-teal-500 dark:stroke-teal-700 dark:group-hover:fill-teal-700';
---
<fieldset class="w-full max-w-[400px] mx-auto h-full border-2 border-teal-600/20 rounded-xl p-3 dark:border-teal-800/30 transition-colors duration-300">
    <legend
        class="w-3/4 max-w-[150px] [aspect-ratio:1/1] mx-auto bg-bgperfil rounded-lg overflow-hidden [box-shadow:0px_0px_10px_#00000030] dark:[box-shadow:0px_0px_10px_#222] transition-shadow duration-300 ease-in-out"
    >
        <img
            class="object-cover rounded-xl mx-auto"
            src="/images/perfil-pauldev.webp"
            alt="Foto de perfil de PaulDev"
            loading="lazy"
        />
    </legend>
    <article class="pt-3 h-full">
        <div class="flex flex-col justify-between h-full items-center">
            <div class="first-info">
                <h1 class="font-extrabold text-4xl text-center">
                    Paul<span class="bg-textlinear-light text-transparent bg-clip-text dark:bg-textlinear-dark">Dev</span>
                </h1>
                <p class="dark:text-slate-300 text-center">Frontend Developer</p>
            </div>

            <div class="social-networks">
                <ul class="flex gap-3">
                    <LiSN url="https://github.com/Paul1226">
                        <Svg
                            class={classIconsSn}
                            stroke-width="30"
                        >
                            <path
                                d="M502.021 262.337C502.021 370.722 431.963 462.726 334.601 495.503C332.771 495.799 331.641 495.687 331.043 495.554C330.438 495.419 330.237 495.238 330.183 495.188C330.001 495.022 329.509 494.315 329.509 492.928C329.509 490.168 329.542 485.33 329.585 478.817C329.608 475.483 329.633 471.71 329.659 467.552C329.733 455.315 329.808 439.836 329.808 422.677C329.808 406.398 326.311 393.028 320.811 382.789C344.711 378.638 369.044 370.719 388.68 354.281C413.578 333.44 429.328 300.311 429.328 248.96C429.328 220.732 419.981 197.039 404.331 178.063C408.035 165.771 412.309 140.572 399.765 108.817L398.026 104.414L393.518 102.969L390.464 112.491C393.518 102.969 393.509 102.965 393.499 102.962L393.479 102.956L393.438 102.943C393.409 102.934 393.38 102.925 393.348 102.916C393.286 102.897 393.219 102.877 393.145 102.856C392.999 102.814 392.83 102.769 392.64 102.721C392.258 102.625 391.788 102.521 391.228 102.419C390.108 102.217 388.637 102.027 386.806 101.942C383.137 101.773 378.077 102.027 371.554 103.402C359.191 106.007 341.655 112.617 318.338 127.905C298.262 122.77 277.059 120.215 256.049 120.112H256H255.951C234.943 120.215 213.759 122.77 193.719 127.905C170.37 112.625 152.815 106.017 140.443 103.41C133.916 102.034 128.854 101.778 125.184 101.945C123.352 102.028 121.881 102.217 120.761 102.419C120.201 102.519 119.731 102.623 119.35 102.718C119.159 102.766 118.991 102.811 118.844 102.853C118.811 102.862 118.779 102.871 118.748 102.88C118.711 102.891 118.675 102.902 118.641 102.912C118.61 102.922 118.581 102.931 118.552 102.939L118.511 102.952L118.491 102.959C118.481 102.962 118.472 102.965 121.515 112.491L118.472 102.965L113.953 104.408L112.212 108.821C99.6898 140.569 103.961 165.767 107.685 178.075C92.0593 197.036 82.6507 220.722 82.6507 248.96C82.6507 300.196 98.3747 333.327 123.206 354.224C142.826 370.736 167.145 378.74 191.028 382.952C188.042 388.558 185.658 395.098 184.119 402.533C177.558 404.921 168.778 407.046 159.746 406.24C148.966 405.277 136.941 400.109 127.208 383.471C127.202 383.46 127.196 383.449 127.189 383.437C127.142 383.354 127.081 383.248 127.006 383.119C126.856 382.863 126.65 382.518 126.389 382.097C125.867 381.257 125.118 380.108 124.144 378.748C122.206 376.04 119.325 372.425 115.5 368.731C107.919 361.407 96.0157 353.203 79.9997 352.073L79.7165 352.053L79.4326 352.049L79.296 362.048C79.4326 352.049 79.4295 352.049 79.4262 352.049H79.4193H79.4035L79.3648 352.048C79.3359 352.048 79.3007 352.048 79.2596 352.048C79.1774 352.047 79.0712 352.047 78.9433 352.048C78.688 352.05 78.343 352.056 77.9277 352.07C77.1062 352.098 75.9642 352.161 74.669 352.302C72.4771 352.542 68.326 353.146 64.7636 355.173C62.8749 356.247 60.2298 358.242 58.723 361.701C57.081 365.47 57.5145 369.278 58.7988 372.336C60.9511 377.462 66.0083 381.823 71.9004 385.853L72.5665 386.309L73.1841 386.599C73.2179 386.617 73.2754 386.648 73.3553 386.694C73.6027 386.834 74.0647 387.109 74.7011 387.545C75.9725 388.415 77.9466 389.929 80.304 392.294C84.9723 396.978 91.2814 405.137 96.5867 418.544C96.5867 418.544 96.5874 418.546 96.5878 418.548C96.6463 418.712 96.7226 418.92 96.8181 419.167C97.0089 419.662 97.2769 420.319 97.6335 421.109C98.3456 422.686 99.4174 424.811 100.942 427.254C103.989 432.136 108.888 438.356 116.387 443.976C130.046 454.211 151.064 461.532 182.285 457.199C182.336 464.6 182.395 471.494 182.445 477.306C182.507 484.587 182.555 490.171 182.555 492.928C182.555 494.218 182.087 494.92 181.871 495.116C181.795 495.186 181.571 495.377 180.955 495.518C180.358 495.655 179.259 495.772 177.498 495.508C80.1189 462.758 10 370.723 10 262.315C10 126.441 120.146 16.3147 256 16.3147C391.852 16.3147 502 126.46 502.021 262.336"
                            ></path>
                            <path
                                d="M96.96 373.888C96.4053 375.168 94.4 375.552 92.5653 374.677C90.7093 373.845 89.664 372.096 90.2613 370.837C90.816 369.536 92.8213 369.173 94.6773 370.048C96.5333 370.859 97.6 372.608 96.96 373.888Z"
                            ></path>
                            <path
                                d="M107.328 385.451C106.112 386.581 103.723 386.048 102.101 384.277C100.416 382.485 100.117 380.096 101.355 378.965C102.613 377.835 104.917 378.368 106.603 380.16C108.288 381.931 108.608 384.299 107.328 385.451Z"
                            ></path>
                            <path
                                d="M117.419 400.192C115.84 401.28 113.28 400.256 111.701 397.995C110.123 395.712 110.123 392.981 111.744 391.893C113.323 390.805 115.861 391.787 117.461 394.048C119.019 396.352 119.019 399.083 117.419 400.192Z"
                            ></path>
                            <path
                                d="M131.243 414.443C129.835 416 126.848 415.573 124.672 413.461C122.432 411.392 121.813 408.469 123.221 406.912C124.651 405.355 127.659 405.803 129.856 407.893C132.075 409.963 132.736 412.907 131.243 414.443Z"
                            ></path>
                            <path
                                d="M150.336 422.699C149.717 424.704 146.837 425.621 143.936 424.768C141.035 423.893 139.136 421.547 139.733 419.52C140.331 417.493 143.232 416.555 146.155 417.472C149.035 418.325 150.933 420.672 150.336 422.699Z"
                            ></path>
                            <path
                                d="M171.285 424.235C171.349 426.347 168.896 428.096 165.845 428.139C162.795 428.203 160.299 426.496 160.277 424.427C160.277 422.293 162.688 420.565 165.739 420.501C168.789 420.437 171.285 422.144 171.285 424.235Z"
                            ></path>
                            <path
                                d="M190.784 420.928C191.147 422.976 189.035 425.109 186.005 425.664C183.04 426.219 180.288 424.939 179.904 422.891C179.541 420.779 181.696 418.667 184.661 418.112C187.669 417.579 190.4 418.816 190.784 420.928Z"
                            ></path>
                        </Svg>
                    </LiSN>
                    <LiSN url="https://www.linkedin.com/in/paul-guachichullca-2287602b1/">
                        <Svg
                            class={classIconsSn}
                            stroke-width="30"
                            viewBox="0 0 24 24"
                        >
                        <path
                            d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"
                        ></path>
                        </Svg>
                    </LiSN>
                    <LiSN url="mailto:paulguachichullca023@gmail.com">
                        <Svg
                            class={classIconsSn}
                            stroke-width="30"
                        >
                        <path
                            d="M497 153.461 342.041 308.42l-.006.007-.007.006a121.814 121.814 0 0 1-172.056 0l-.007-.006-.006-.007L15 153.461v230.53a91.795 91.795 0 0 0 91.685 91.676h298.63A91.794 91.794 0 0 0 497 384v-.018m0-230.521v230.521m0-230.521v230.521m0-230.521v230.521"
                        ></path><path
                            d="M476.686 70.997 290.684 257.02a49.149 49.149 0 0 1-69.36.008l-.008-.008L35.314 70.997a91.368 91.368 0 0 1 71.374-34.664h298.624a91.368 91.368 0 0 1 71.374 34.664Z"
                        ></path>
                        </Svg>
                    </LiSN>
                </ul>
            </div>

            <div class="literals-info-more">
                <ul class="w-full min-w-[220px]">
                    <LiInfo title="Celular" description="+593 98 095 8291">
                        <Svg
                            class={classIconsInfo}
                            slot="icon"
                            stroke-width="30"
                        >
                        <path
                                d="M192 15h128c50.532 0 91.667 41.135 91.667 91.667v298.666C411.667 455.865 370.532 497 320 497H192c-50.532 0-91.667-41.135-91.667-91.667V106.667C100.333 56.135 141.468 15 192 15Zm42.667 448h42.666c20.061 0 36.334-16.273 36.334-36.333 0-20.061-16.273-36.334-36.334-36.334h-42.666c-20.061 0-36.334 16.273-36.334 36.334 0 20.06 16.273 36.333 36.334 36.333Z"
                            ></path>
                        </Svg>
                    </LiInfo>
                    <LiInfo title="Ubicación" description="Cuenca, Ecuador">
                        <Svg
                            class={classIconsInfo}
                            slot="icon"
                            stroke-width="30"
                        >
                            <path
                                d="m493.942 363.134-.006.004-210.368 126.229a53.5 53.5 0 0 1-27.546 7.654 53.444 53.444 0 0 1-27.536-7.647l-.012-.008L18.071 363.141l-.007-.004A6.325 6.325 0 0 1 15 357.674a6.305 6.305 0 0 1 3.121-5.412l.009-.005.008-.005 93.382-54.664 51.941 50.775c24.76 24.23 57.699 37.581 92.539 37.581 34.844 0 67.758-13.353 92.534-37.576l.003-.002 51.932-50.798 93.379 54.654.007.004a6.394 6.394 0 0 1 3.146 5.448 6.326 6.326 0 0 1-3.059 5.46ZM256 15c35.918 0 69.604 13.952 94.968 39.336 25.401 25.42 39.366 59.07 39.366 94.976 0 35.885-13.949 69.551-39.305 94.937l-53.313 52.162-.003.003c-11.445 11.189-26.514 16.842-41.713 16.842-15.199 0-30.27-5.654-41.715-16.844l-.001-.001-53.164-51.992c-52.485-52.547-52.444-137.748-.113-190.08C186.396 28.952 220.084 15 256 15Zm-79 134.12c0 43.634 35.367 79 79 79 43.634 0 79-35.366 79-79s-35.366-79-79-79c-43.633 0-79 35.366-79 79Z"
                            ></path>
                        </Svg>
                    </LiInfo>
                    <LiInfo title="Nacimiento" description="2000-12-26">
                        <Svg
                            class={classIconsInfo}
                            slot="icon"
                            stroke-width="30"
                        >
                            <path
                                d="m17.665 451.281-.002.004c-5.224 12.401-2.468 26.485 7.033 35.995v.001m-7.03-36L66.56 508.16c-6.059 2.539-12.395 3.797-18.667 3.797-12.416 0-24.597-4.885-33.792-14.058l10.607-10.607-.011-.011m-7.032-36L89.82 279.865l142.315 142.316-171.372 72.144-.003.002m-43.095-43.046 43.095 43.046m-36.063-7.046c6.363 6.348 14.726 9.676 23.196 9.676 4.258 0 8.624-.853 12.867-2.63m-36.063-7.046 36.063 7.046m136.177-317.478.008.008 138.219 138.219.021.021c10.054 10.054 14.427 24.387 11.694 38.374a42.551 42.551 0 0 1-25.299 31.105l-17.112 7.202-184.182-184.182 7.204-17.116v-.002c5.524-13.131 17.136-22.563 31.112-25.316 13.947-2.731 28.291 1.628 38.335 11.687Zm150.717-80.438c-1.237 19.201-8.568 38.234-22.605 56.739l-.007-.004a6.29 6.29 0 0 1-5.042 2.499 6.264 6.264 0 0 1-3.823-1.283 6.328 6.328 0 0 1-1.211-8.866l.005-.006.005-.007c11.755-15.521 18.913-32.326 20.036-49.891v-.003c2.714-42.557-27.818-67.818-29.522-69.215l-.012-.01-.013-.01c-2.747-2.243-3.121-6.269-.995-8.914 2.216-2.752 6.079-3.161 8.758-1.109 2.335 1.903 37.539 31.267 34.426 80.08Zm148.187 177.283a6.319 6.319 0 0 1-.993 8.411l-.519.364c-1.159.815-2.423 1.176-3.641 1.176-2.055 0-3.937-.926-5.141-2.593l-.133-.183-.138-.18c-1.08-1.404-14.194-18.377-37.276-18.377-10.335 0-20.045 3.012-28.294 9.23l-.007.005-.006.006a6.33 6.33 0 0 1-8.876-1.234c-2.099-2.789-1.528-6.762 1.234-8.842l.007-.005.006-.005c10.181-7.682 22.539-11.8 35.936-11.8 24.258 0 41.777 15.428 47.837 24.022l.004.005ZM480 49.021c-9.38 0-17-7.62-17-17 0-9.38 7.62-17 17-17 9.38 0 17 7.62 17 17 0 9.38-7.62 17-17 17Zm-42.667 106.667c-9.379 0-17-7.62-17-17 0-9.38 7.621-17 17-17 9.38 0 17 7.62 17 17 0 9.38-7.62 17-17 17ZM202.667 70.333c-9.38 0-17-7.62-17-17 0-9.38 7.62-17 17-17 9.379 0 17 7.62 17 17 0 9.38-7.621 17-17 17Zm256 341.334c-9.38 0-17-7.621-17-17 0-9.38 7.62-17 17-17 9.379 0 17 7.62 17 17 0 9.379-7.621 17-17 17Zm-405.334-320c-9.38 0-17-7.62-17-17 0-9.38 7.62-17 17-17 9.38 0 17 7.62 17 17 0 9.38-7.62 17-17 17ZM352 497c-9.38 0-17-7.62-17-17 0-9.38 7.62-17 17-17 9.38 0 17 7.62 17 17 0 9.38-7.62 17-17 17Z"
                            ></path>
                        </Svg>
                    </LiInfo>
                </ul>
            </div>

            <div class="links">
                <ul class="flex gap-3">
                    <li>
                        <a class="py-2 px-4 w-full rounded-full bg-teal-400/30 block hover:bg-teal-400/20 transition-all duration-300 ease-in-out border-2 border-transparent hover:border-teal-600/30 hover:-translate-y-2 hover:[box-shadow:0px_5px_10px_#00000020] dark:text-teal-50" href="#">Descargar Cv</a>
                    </li>
            </div>
        </div>
    </article>
</fieldset>